<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Urja Innovations</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light py-0 ">
        <a th:href="@{/landing-page}" class="navbar-brand py-0 active"><small>Home</small></a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a th:href="@{/urja-innovations/account-balance}" class="nav-item nav-link"><small>Account Balance</small></a>
                <a th:href="@{/urja-innovations/submit-purchase}" class="nav-item nav-link"><small>Purchase Entry</small></a>
                <a th:href="@{/urja-innovations/submit-payment}" class="nav-item nav-link"><small>Payment Entry</small></a>
            </div>
        </div>
        <div class="navlist-right">
            <span sec:authorize="isAuthenticated()"><a th:href="@{/logout}" class="navbar-brand"><small>Logout</small></a></span>
        </div>
    </nav>
    <form role="form" th:action="@{/urja-innovations/urja-home-page}" method="post"
          style="max-width: 600px; margin:0 auto;">
        <div class="container text-center">
            <div>
                <p><h4>Urja Innovations Bookkeeping</h4></p>
                <p><small>Welcome to Urja Innovations Home Page</small></p>
            </div>
            <hr>
            <div class="form-group row">
                <div class="col-sm-4 col-md-offset-2 text-center">
                    <p><a th:href="@{/urja-innovations/submit-purchase}"><small>Make a Purchase Entry</small></a></p>
                </div>
                <div class="col-sm-4 col-md-offset-2 text-center">
                    <p><a th:href="@{/urja-innovations/account-balance}"><small>Check Balance</small></a></p>
                </div>
                <div class="col-sm-4 col-md-offset-2 text-center">
                    <p><a th:href="@{/urja-innovations/submit-payment}"><small>Make a Payment Entry</small></a></p>
                </div>
            </div>
        </div>
    </form>
</body>
</html>